{% extends 'EasyAdminBundle/content.html.twig' %}
{% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}

{% block main %}

    <div id="batch-action-container">
        <input type="hidden" id="selectedQrCodes" value="{{ selectedQrCodes }}" />
        <div class="form-wrapper">
            <a class="text-right d-block text-black" href="{{ ea_url()
                .setController('App\\Controller\\Admin\\QrCrudController')
                .setAction('index')
            }}">
            </a>
            {{ form(form) }}

            <div class="qr-preview">
                <div id="qrCodeContainer" data-generate-qr-path="{{ path('admin_generate_qr_codes') }}">
                    <ul class="nav nav-tabs" id="qrCodeTabs" role="tablist">
                    </ul>

                    <div class="tab-content mt-3" id="qrCodeTabContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
