{% extends '@EasyAdmin/content.html.twig' %}
{% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}

{% block content_header %}
    <div class="content-header-title">
        <h1 class="title">{{ 'seturl.title'|trans }}</h1>
    </div>
{% endblock %}

{% block main %}
    <div>
        <p>{{ 'seturl.description'|trans({'%count%': count})|raw }}</p>
    </div>
    <br>
    <div id="batch-action-container">
        <div class="form-wrapper">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
