{% extends 'EasyAdminBundle/content.html.twig' %}
{% form_theme form '@EasyAdmin/crud/form_theme.html.twig' %}

{% block main %}
  <div id="modal-batch-action" class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <a class="text-right d-block text-black" href="{{ ea_url()
            .setController('App\\Controller\\Admin\\QrCrudController')
            .setAction('index')
          }}">
            <span class="fa fa-window-close"></span>
          </a>
          {{ form(form) }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
{% endblock %}
