{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% block main %}
    <div class="qr-edit-visual-config-container">
        <input type="hidden" id="selectedQrCodes" value="examplePreview" />
        <div>
            <div class="form-wrapper">
            {{ parent() }}
            </div>
        </div>
        <div class="qr-preview">
            <div id="qrCodeContainer" data-generate-qr-path="{{ path('admin_generate_qr_codes') }}">
                <ul class="nav nav-tabs" id="qrCodeTabs" role="tablist">
                </ul>

                <div class="tab-content mt-3" id="qrCodeTabContent">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
