{% block stylesheets %}
    {{ encore_entry_link_tags('static') }}
{% endblock %}

<div class="container py-4">
    <h1>Denne QR kode er arkiveret</h1>
    <p>Hello world!</p>
    <br />
    <p>Du kan finde mere information på <a href="{{ alternativeUrl }}">{{ alternativeUrl }}</a></p>
</div>
