{% set generate_qr_url = app_base_generate_path ~ app_base_redirect_path ~ entity.instance.uuid %}

<a href="{{ generate_qr_url }}" target="_blank" class="popover-link">
    View
    <span class="popover-content">
       <img src="{{ generate_qr_url }}" alt="Generated Image" />
   </span>
</a>

<style>

</style>
