<a href="{{ path('qr_code_generate', {builder: 'default', data: entity.instance.uuid}) }}" target="_blank" class="popover-link">
    View
    <span class="popover-content">
       <img src="{{ path('qr_code_generate', {builder: 'default', data: entity.instance.uuid}) }}" alt="Generated Image" />
   </span>
</a>

<style>

</style>
